__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage
htmlcov/
.venv/
env/
venv/
*.sqlite3
*.db
*.db-shm
*.db-wal
*.secret
*.env
dist/
node_modules/
data/
/data/
/backup/
/logs/
ssl/
*.key
*.crt
*.pem
